{% extends 'base.html.twig' %}

{% block title %}New Atencion{% endblock %}

{% block body %}
    <h1>Create new Atencion</h1>

    {{ include('atencion/_form.html.twig') }}

    <a href="{{ path('app_atencion_index') }}">back to list</a>
{% endblock %}
