<form method="post" action="{{ path('app_plato_principal_delete', {'id': plato_principal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plato_principal.id) }}">
    <button class="btn">Delete</button>
</form>
