{% extends 'base.html.twig' %}

{% block title %}New PlatoPrincipal{% endblock %}

{% block body %}
    <h1>Create new PlatoPrincipal</h1>

    {{ include('plato_principal/_form.html.twig') }}

    <a href="{{ path('app_plato_principal_index') }}">back to list</a>
{% endblock %}
