{% extends 'base.html.twig' %}

{% block title %}Edit PedidoItem{% endblock %}

{% block body %}
    <h1>Edit PedidoItem</h1>

    {{ include('pedido_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pedido_item_index') }}">back to list</a>

    {{ include('pedido_item/_delete_form.html.twig') }}
{% endblock %}
